<div id="<%= dom_id station %>">
  <p>
    <strong>Status:</strong>
    <%= station.status %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= station.location_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= station.warehouse_id %>
  </p>

</div>
