<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= location.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= location.lng %>
  </p>

</div>
