<div class="container">
    <h1><%= @warehouse.name %></h1>

    <p><strong>Address:</strong> <%= @warehouse.address %></p>

    <%= link_to 'Edit', edit_admins_warehouse_path(@warehouse), class: 'btn btn-warning' %>
    <%= link_to 'Back', admins_warehouses_path, class: 'btn btn-secondary' %>
</div>