<h1>Stations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.location&.name %></td>
        <td><%= station.status %></td>
        <td><%= link_to "Show available power banks", users_station_path(station), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to User Dashboard", users_page_path, class: "btn btn-secondary" %>