/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .full-height-container {
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  }

  .btn-home-sign-in {
    width: 200px;
    color: #7fbc42;
    background-color: white;
    border-color: #7fbc42;
  }
  
  .btn-home-sign-up {
    width: 200px;
    color: #ffffff; 
    background-color: #7fbc42;
    border-color: #7fbc42;
  }

  .btn-sign-up,
  .btn-sign-in {
    width: 200px;
    color: white;
    background-color: #7fbc42;
    border-color: #7fbc42;
  }
  
  .btn-sign-out {
    color: #ffffff; 
    background-color: #7fbc42;
    border-color: #7fbc42;
  }

  /* Hover state */
  .btn-home-sign-in:hover,
.btn-home-sign-up:hover,
.btn-sign-in:hover,
.btn-sign-up:hover,
.btn-sign-out:hover {
  background-color: #6c9e3f; /* Darker shade for hover */
  border-color: #6c9e3f; /* Darker shade for hover */
}

/* Active state */
.btn-home-sign-in:active,
.btn-home-sign-up:active,
.btn-sign-in:active,
.btn-sign-up:active,
.btn-sign-out:active {
  background-color: #5e9037; /* Even darker shade for active */
  border-color: #5e9037; /* Even darker shade for active */
}